
@{
    ViewData["Title"] = "AboutUs";
}

    <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About the authors</title>
    </head>
    <body>
        <div id="aboutus" class="container">
            <div class="pgheader">About the content creators </div>

            @{ 
                Html.RenderPartial("_Menu");
            }

            <div class="pgheader3">
                This chart shows some relevant facts about the authors
            </div>
            <table class="fireball">
                <tr class="fireball">
                    <th>Dan Codner</th>
                    <th>Viviana Milla</th>
                </tr>
                <tr class="fireball">
                    <td class="fireball">
                        Daniel Cordner is an MS BAIS student at the University of South Florida and he anticipates graduation in fall of 2020.
                        Daniel is currently employed by the Department of Defense, and when not working or studying, he is an avid musician, enjoys woodworking, and exercising.
                        Daniel has been married for 10 years to his wife Lauren and they have a four year old boy named Luke. Daniel created the Home page and the Potential
                        Earth Impact page.
                    </td>
                    <td class="fireball">
                        Viviana Milla is an MS BAIS student at the University of South Florida
                        Viviana graduated from the same university in May 2019 with a Bachelor's degree in Quantitative Economics and Econometrics. She loves to spend time with her
                        mother and closer friends. She is an Avid learner and during her free time she enjoys to read old philosphy and politics. Viviana created the Fireball and About
                        Us pages.
                    </td>
                </tr>
                <tr id="duopic" class="container2">
                </tr>
            </table>

            <div id="impact" class="footer">
                This website is for entertainment purposes only and its sole purpose
                is to serve as fulfillment for USF MS BAIS requirements.
                <br />
                This is a fictional image depicting a galaxy far away.
                <br />
            </div>
        </div>

    </body>
    </html>

