@model Person

@{
    ViewData["Title"] = "Index";

}

    <!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div id="index" class="container">
        <div class="pgheader"> Welcome to the End of the World!</div>

        @{
            Html.RenderPartial("_Menu");
        }


        @{ 
            Html.RenderPartial("_SignUpForm");
        }
        
        <div class="slidecontainer">
            <div class="slide" style="background-image:url(img/Picture1.jpg)    ">
                <p class="slidecap displaycap">
                    What would your do if you knew tomorrow was the end of the world?
                    Knowing is half the battle! Track space objects destined for Earth
                    so you aren't caught unaware!
                </p>
                <p class="slidecap">
                    Asteriods and Comets are not the same! Asteroids are much larger, have stable surfaces
                    and do not have the ice content that comets posses. For more information on the
                    differences between the two see
                    <a href="https://spaceplace.nasa.gov/review/posters/stardust/comets-vs-asteroids.pdf"
                       target="_blank"> more information</a> from the folks at NASA.
                </p>
                <p class="slidecap">
                    It is now believed that the distruction of the Biblical cities of Sodom and Gomorrah
                    were caused by an asteroid. Scientists believe that the impact resulted in a blast
                    that was more powerful than a nuclear bomb! Yikes!!!
                </p>
            </div>
            <div class="slidedot">
                <span class="dot active" onclick="dotslide(1)"></span>
                <span class="dot" onclick="dotslide(2)"></span>
                <span class="dot" onclick="dotslide(3)"></span>
            </div>
            <a class="next" onclick="nxtslide(1)">❯</a>
            <a class="prev" onclick="nxtslide(-1)">❮</a>
        </div>
        <div id="index" class="footer">
            This website is for entertainment purposes only and its sole purpose
            is to serve as fulfillment for USF MS BAIS requirements.
            <br />
            This picture is fictional and represents Jupiter colliding with the sun.
            <br />
        </div>
    </div>

</body>
</html>

