@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="menu">
    <ul class="menu">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Take Me To Your Leader</a></li>
        <li><a asp-area="" asp-controller="ImpactData" asp-action="ImpactData">Sentry</a></li>
        <li><a asp-area="" asp-controller="Fireball" asp-action="Fireball">Fireballs That Impact Earth</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">AboutUs</a></li>
    </ul>
</div>